<html>
    <body>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>

            var intervalId = window.setInterval(function(){
                console.log("inside AJAX");
                $.ajax({
                    type:'GET',
                    url:'https://thawing-island-42941.herokuapp.com/updatesong',
                    success:function(response) {
                        $('#updated').html(response);
                    },
                    error:function(response) {
                        console.log("error in AJAX");
                    }
                });
            }, 1000);
            
        </script>
        <div>
            Current song:
        </div>
        <div id="updated">
            Loading song...
        </div>
        <a href="https://thawing-island-42941.herokuapp.com/requestsong">Update</a>
    </body>
</html>