<html>
    <body>
        <link href="/css/style.css" rel="stylesheet" type="text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>

            var intervalId = window.setInterval(function(){
                console.log("inside AJAX");
                $.ajax({
                    type:'GET',
                    url:'https://thawing-island-42941.herokuapp.com/updatesong',
                    success:function(response) {
                        $('#song').html(response.song);
                        $('#artist').html(response.artist);
                        $('#albumIMG').attr('src', response.albumIMG);
                    },
                    error:function(response) {
                        console.log("error in AJAX");
                    }
                });
            }, 1000);

        </script>
        <div class="center">
            <img src="" id="albumIMG">
            <p id="song">Loading song...</p>
            <p id="artist">Loading artist...</p>
        </div>
    </body>
</html>