<html>
    <body>
        <link href="/css/style.css" rel="stylesheet" type="text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="client.js"></script>
        <div class="center">
            <img src="https://i.scdn.co/image/ab67616d00001e02f292ec02a050dd8a6174cd4e" id="albumIMG">
            <p id="song">Loading song...</p>
            <p id="artist">Loading artist...</p>
        </div>
    </body>
</html>