<html>
    <body>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
            setTimeout(() => {
                console.log("inside AJAX");
                $.ajax({
                type:'GET',
                url:'https://thawing-island-42941.herokuapp.com/updatesong',
                success:function(response) {
                    console.log('song in AJAX: ' + response);
                },
                error:function(response) {
                    console.log("error in AJAX");
                }
            });
            }, 10000);
        </script>
        <div>
            Current song:
        </div>
        <div>
            <%= song %>
        </div>
        <div id="updated">

        </div>
        <a href="https://thawing-island-42941.herokuapp.com/requestsong">Update</a>
    </body>
</html>