<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="https://i.scdn.co/image/ab67616d00001e02f292ec02a050dd8a6174cd4e" id="favicon">
        <title id="title"></title>
    </head>
    <body>
        <link href="/css/style.css" rel="stylesheet" type="text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <div class="center" id="main_div">
            <a href="" id="panel" class="box1" style="display:block">
                <div class="song_div" id="song_div">
                    <img src="https://i.scdn.co/image/ab67616d00001e02f292ec02a050dd8a6174cd4e" id="albumIMG">
                    <p id="song">No current song</p>
                    <p id="artist">No current artist</p>
                </div>
            </a>
            <div class="box2" onclick="playlistClicked()">
                <p id="playlist">Add song to my playlist</p>
            </div>
            <div id="search">
                <input type="text" placeholder="Song" id='search_bar'>
                <div id="song_results">
                    <div id="song1" class="songs" onclick="song1Clicked()">
                        First
                    </div>
                    <div id="song2" class="songs" onclick="song2Clicked()">
                        Second
                    </div>
                    <div id="song3" class="songs" onclick="song3Clicked()">
                        Third
                    </div>
                </div>
            </div>
        </div>
        <script src="client.js"></script>
    </body>
</html>