<html>
    <body>
        <div>

            <a href="https://accounts.spotify.com/en/authorize?client_id=d8f5f88f01a644ee803480f73bda4708&response_type=code&redirect_uri=https%3A%2F%2Fthawing-island-42941.herokuapp.com%2F&scope=user-read-playback-state%20streaming%20user-read-email%20user-read-private">Authenticate</a>
            
        </div>
        <div>
    </body>
</html>